Importing the pandas library for creating the dataframe

In [116]:
import pandas as pd

reading the wikipedia table into a dataframe

In [117]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A      Queen's Park      Not assigned
8      M8A      Not assigned      Not assigned
9      M9A      Queen's Park      Queen's Park

creating a new dataframe which excludes the rows where borough == "not assigned"

In [118]:
# i assumed that i could make a new dataframe with specifying that "not assigned" would not appear in column borough. 
dfwna= df[df.Borough != 'Not assigned']

In [119]:
dfwna.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Not assigned
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

Modifying the dataframe so values would be combined

In [145]:
dfwna =dfwna.groupby(['Postcode','Borough'])
dfwna=dfwna['Neighbourhood'].apply(', '.join).reset_index() 
dfwna.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

Iterating through the dataframe and assigning the borough value to the neighbourhood value

In [141]:
for i in range(len(dfwna)):
    if dfwna['Neighbourhood'].iloc[i] =='Not assigned':
        dfwna['Neighbourhood'].iloc[i]= dfwna['Borough'].iloc[i]
        
dfwna

,Postcode,Borough,Neighbourhood
0,M1B,Scarborough,"Rouge, Malvern"
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9P,Etobicoke,Westmount
99,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv..."
100,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ..."
101,M9W,Etobicoke,Northwest
102,Queen's Park,Queen's Park,Queen's Park

printing the shape

In [147]:
dfwna.shape

(103, 3)

In [149]:
!wget -q -O 'postaldata.csv' https://cocl.us/Geospatial_data
print('Data downloaded!')

Data downloaded!

In [174]:
#to be sure, again importing pandas.
#after importing pandas, appending the dataframe to variable dfpostal
#then printing the head of the dfpostal datafram
import pandas as pd
dfpostal = pd.read_csv('postaldata.csv')
dfpostal.head()
dfpostal.shape

(103, 3)

In [177]:
#In this step i am merging the two dataframes
#setting the variables df1 and df2
#naming the new dataframe df3
#joining on the postal value
df1=dfwna # first dataframe  
#renaming the column name in the first dataframe so it matches with the second
df1 = df1.rename(columns={'Postcode': 'Postal Code'})
df2=dfpostal #second dataframe
df3 = pd.merge(df1,df2,on=['Postal Code']) #merging the dataframes based on postalcode
df3 #seeing the new dataframe

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
97,M9N,York,Weston,43.706876,-79.518188
98,M9P,Etobicoke,Westmount,43.696319,-79.532242
99,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
100,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
101,M9W,Etobicoke,Northwest,43.706748,-79.594054